html,body{
  height:100%;
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display:none;
}
#hero{
  background: linear-gradient(0deg, rgba(249,172,64,1) 0%, rgba(247,142,24,1) 100%);
  width:65%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  display: inline;
  z-index:-1;
}
#hero1{
  background: radial-gradient(circle, rgba(19,25,37,1) 0%, rgba(19,25,39,1) 100%);
  width:35%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  right:0;
  display: inline;
  z-index:-1;
}
.socials a{
  color:white;
  transition: 0.5s ease-in-out;
}
.socials a:hover{
  transition: 0.5s ease-in-out;
  color:#f78e18;
}
.mainav .nav-item .nav-link{
 border-bottom: 2px solid transparent;
 width:0%;
 transition: 0.5s ease-in-out;
}
.mainav .nav-item .nav-link:hover{
 transition: 0.5s ease-in-out;
 width:100%;
 border-bottom: 2px solid white;

}

.actionbtn{
  border: 1px solid #f78e18;
  border-radius: 5px;
  color: #f78e18;
  background: transparent;
  transition: 0.5s ease-in-out;
}
.actionbtn:hover{
  border: 1px solid transparent;
  color:rgba(19,25,39,1);
  background: #f78e18;
}

.carddrop{
  box-shadow: 0 0 20px rgba(0, 0, 0,0.8);
  transition: 0.5s ease-in-out;
}

.carddrop:hover{
  box-shadow: 0 0 20px rgba(247, 143, 24,1);
}


@media only screen and (max-width: 992px) {
  .circ {
    border-radius: 200%;
    max-width: 500px;
    width:100%;
    height: auto;
    max-height: 500px;
    background-position: center;
    object-fit: cover;
  }
}
@media only screen and (max-width: 600px) {
  .circ {
    border-radius: 200%;
    max-width: 300px;
    width:100%;
    height: auto;
    max-height: 300px;
    background-position: center;
    object-fit: cover;
  }
}
@keyframes fade {
0%{opacity: 0;}
100%{opacity: 100%;}  
}
